In [1]:
import numpy as np
import pandas as pd

In [3]:
!cat /home/qiwsir/Documents/DataAnalysis/chapter02/gdp-population.csv

City_Name,GDP,Population
SHANGHAI,27466.15 ,2419.70
BEIJING,24899.30 ,2172.90
GUANGZHOU,19610.90 ,1350.11
SHENZHEN,19492.60 ,1137.87
TIANJIN,17885.39 ,1562.12
CHONGQING,17558.76 ,3016.55
SUZHOU,15475.09 ,1375.00
CHENGDU,12170.20 ,1591.76

In [4]:
gdp = pd.read_csv("/home/qiwsir/Documents/DataAnalysis/chapter02/gdp-population.csv")
gdp

   City_Name       GDP  Population
0   SHANGHAI  27466.15     2419.70
1    BEIJING  24899.30     2172.90
2  GUANGZHOU  19610.90     1350.11
3   SHENZHEN  19492.60     1137.87
4    TIANJIN  17885.39     1562.12
5  CHONGQING  17558.76     3016.55
6     SUZHOU  15475.09     1375.00
7    CHENGDU  12170.20     1591.76

In [5]:
gdp.columns

Index(['City_Name', 'GDP', 'Population'], dtype='object')

In [6]:
gdp = pd.read_csv("/home/qiwsir/Documents/data_analysis/gdp-population.csv", header=0)

In [7]:
pd.read_csv("/home/qiwsir/Documents/data_analysis/gdp-population.csv", 
            names=['CITY', 'GDP', 'POP'])

        CITY        GDP         POP
0  City_Name        GDP  Population
1   SHANGHAI  27466.15     2419.70
2    BEIJING  24899.30     2172.90
3  GUANGZHOU  19610.90     1350.11
4   SHENZHEN  19492.60     1137.87
5    TIANJIN  17885.39     1562.12
6  CHONGQING  17558.76     3016.55
7     SUZHOU  15475.09     1375.00
8    CHENGDU  12170.20     1591.76

In [14]:
pd.read_csv("/home/qiwsir/Documents/data_analysis/gdp-population.csv", 
            names=['CITY', 'GDP', 'POP'], skiprows=[0])

        CITY       GDP      POP
0   SHANGHAI  27466.15      NaN
1    BEIJING   24899.3  2172.90
2  GUANGZHOU   19610.9  1350.11
3   SHENZHEN      None  1137.87
4    TIANJIN  17885.39  1562.12
5  CHONGQING  17558.76      NaN
6     SUZHOU  15475.09  1375.00
7    CHENGDU   12170.2  1591.76

In [10]:
gdp = pd.read_csv("/home/qiwsir/Documents/data_analysis/gdp-population.csv", 
                  names=['CITY', 'GDP', 'POP'], skiprows=[0], index_col=0)
gdp.index

Index(['SHANGHAI', 'BEIJING', 'GUANGZHOU', 'SHENZHEN', 'TIANJIN', 'CHONGQING',
       'SUZHOU', 'CHENGDU'],
      dtype='object', name='CITY')

In [11]:
gdp

                GDP      POP
CITY
SHANGHAI   27466.15  2419.70
BEIJING    24899.30  2172.90
GUANGZHOU  19610.90  1350.11
SHENZHEN   19492.60  1137.87
TIANJIN    17885.39  1562.12
CHONGQING  17558.76  3016.55
SUZHOU     15475.09  1375.00
CHENGDU    12170.20  1591.76

In [16]:
!cat /home/qiwsir/Documents/DataAnalysis/chapter02/gdp-pop.csv

City_Name,GDP,Population
SHANGHAI,27466.15,
BEIJING,24899.3,2172.9
GUANGZHOU,19610.9,1350.11
SHENZHEN,,1137.87
TIANJIN,17885.39,1562.12
CHONGQING,17558.76,3016.55
SUZHOU,15475.09,1375
CHENGDU,12170.2,1591.76

In [17]:
pd.read_csv("/home/qiwsir/Documents/DataAnalysis/chapter02/gdp-pop.csv", 
            names=['CITY', 'GDP', 'POP'], skiprows=[0], index_col=0)

                GDP      POP
CITY
SHANGHAI   27466.15      NaN
BEIJING    24899.30  2172.90
GUANGZHOU  19610.90  1350.11
SHENZHEN        NaN  1137.87
TIANJIN    17885.39  1562.12
CHONGQING  17558.76  3016.55
SUZHOU     15475.09  1375.00
CHENGDU    12170.20  1591.76

In [18]:
!cat /home/qiwsir/Documents/DataAnalysis/chapter02/gdp-pop2.csv

City_Name,GDP,Population
SHANGHAI,27466.15,
BEIJING,24899.3,2172.9
GUANGZHOU,19610.9,1350.11
SHENZHEN,None,1137.87
TIANJIN,17885.39,1562.12
CHONGQING,17558.76,NA
SUZHOU,15475.09,1375
CHENGDU,12170.2,1591.76

In [19]:
s = {"GDP":[None]}
pd.read_csv("/home/qiwsir/Documents/DataAnalysis/chapter02/gdp-pop2.csv", 
            names=['CITY', 'GDP', 'POP'], skiprows=[0], index_col=0, na_values=s)

                GDP      POP
CITY
SHANGHAI   27466.15      NaN
BEIJING    24899.30  2172.90
GUANGZHOU  19610.90  1350.11
SHENZHEN        NaN  1137.87
TIANJIN    17885.39  1562.12
CHONGQING  17558.76      NaN
SUZHOU     15475.09  1375.00
CHENGDU    12170.20  1591.76

In [20]:
pd.read_csv("/home/qiwsir/Documents/DataAnalysis/chapter02/gdp-pop2.csv", nrows=3)

   City_Name       GDP  Population
0   SHANGHAI  27466.15         NaN
1    BEIJING  24899.30     2172.90
2  GUANGZHOU  19610.90     1350.11

In [21]:
aqi_chunk = pd.read_csv("/home/qiwsir/Documents/DataAnalysis/chapter02/aqi.csv", chunksize=50, 
                        encoding="utf-8", header=0)
aqi_chunk

In [22]:
tot = pd.Series([])
for city in aqi_chunk:
    tot = tot.add(city['级别'].value_counts(), fill_value=0)
tot

中度污染      8.0
优       105.0
良       180.0
轻度污染     62.0
dtype: float64

In [24]:
store = pd.HDFStore('/home/qiwsir/Documents/DataAnalysis/chapter02/data.h5')

In [25]:
gdp = pd.read_csv("/home/qiwsir/Documents/DataAnalysis/chapter02/gdp-population.csv", 
                  names=['CITY', 'GDP', 'POP'], skiprows=[0], index_col=0)

In [26]:
store['gdp'] = gdp['GDP']
store['gdp_pop'] = gdp
store

<class 'pandas.io.pytables.HDFStore'>
File path: /home/qiwsir/Documents/DataAnalysis/chapter02/data.h5
/gdp                series       (shape->[8])
/gdp_pop            frame        (shape->[8,2])

In [27]:
store['gdp_pop']

                GDP      POP
CITY
SHANGHAI   27466.15  2419.70
BEIJING    24899.30  2172.90
GUANGZHOU  19610.90  1350.11
SHENZHEN   19492.60  1137.87
TIANJIN    17885.39  1562.12
CHONGQING  17558.76  3016.55
SUZHOU     15475.09  1375.00
CHENGDU    12170.20  1591.76