In [2]:
import datetime
now = datetime.datetime.now()
now

datetime.datetime(2018, 1, 22, 8, 29, 14, 406635)

In [3]:
now.day, now.month, now.year

(22, 1, 2018)

In [4]:
datetime.datetime.today()

datetime.datetime(2018, 1, 22, 8, 32, 35, 584105)

In [5]:
import numpy as np
import pandas as pd
now = pd.Timestamp.now()
now

Timestamp('2018-01-22 08:33:30.600695')

In [6]:
now.year, now.month, now.day

(2018, 1, 22)

In [8]:
import pytz
brussels_tz = pytz.timezone('Europe/Brussels')
shanghai_tz = pytz.timezone('Asia/Shanghai')
now_brussels = datetime.datetime.now(tz=brussels_tz)
now_shanghai = now_brussels.replace(tzinfo=shanghai_tz)
now_shanghai == now_brussels

False

In [9]:
now_shanghai

datetime.datetime(2018, 1, 22, 1, 43, 14, 689601, tzinfo=<DstTzInfo 'Asia/Shanghai' LMT+8:06:00 STD>)

In [10]:
now_brussels

datetime.datetime(2018, 1, 22, 1, 43, 14, 689601, tzinfo=<DstTzInfo 'Europe/Brussels' CET+1:00:00 STD>)

In [11]:
now_shanghai = pd.Timestamp.now(tz="Asia/Shanghai")
now_shanghai

Timestamp('2018-01-22 08:56:38.993591+0800', tz='Asia/Shanghai')

In [12]:
now_brussels = now_shanghai.tz_convert("Europe/Brussels")
now_brussels

Timestamp('2018-01-22 01:56:38.993591+0100', tz='Europe/Brussels')

In [13]:
now_shanghai == now_brussels

True

In [17]:
pd.Timestamp(datetime.datetime(1997, 7, 1))

Timestamp('1997-07-01 00:00:00')

In [15]:
pd.Timestamp("1997-7-1")

Timestamp('1997-07-01 00:00:00')

In [16]:
pd.Timestamp(1997, 7, 1)

Timestamp('1997-07-01 00:00:00')

In [18]:
pd.Timestamp.min

Timestamp('1677-09-21 00:12:43.145225')

In [19]:
pd.Timestamp.max

Timestamp('2262-04-11 23:47:16.854775807')

In [20]:
start = pd.Timestamp("1997-7-1", tz='Asia/Shanghai')

In [22]:
delta = now_shanghai - start
delta

Timedelta('7510 days 08:56:38.993591')

In [23]:
future = now_shanghai + delta
future

Timestamp('2038-08-15 17:53:17.987182+0800', tz='Asia/Shanghai')

In [24]:
pd.Timedelta(days=3, hours=4, minutes=5, seconds=6)

Timedelta('3 days 04:05:06')

In [25]:
pd.Timedelta(seconds=123456)

Timedelta('1 days 10:17:36')

In [26]:
now_week = pd.Period.now(freq="W")
now_week

Period('2018-01-22/2018-01-28', 'W-SUN')

In [27]:
from pandas.tseries import frequencies
frequencies._period_code_map.keys()

dict_keys(['Q-NOV', 'S', 'W', 'M', 'Q-FEB', 'Q-AUG', 'C', 'A-NOV', 'A-JUN', 'W-WED', 'Q-SEP', 'T', 'L', 'W-MON', 'U', 'Q-OCT', 'D', 'A-MAY', 'Q-JUL', 'Q-JUN', 'Q', 'W-THU', 'A-SEP', 'A-JUL', 'W-TUE', 'A-JAN', 'A-DEC', 'A-APR', 'Q-DEC', 'A-MAR', 'Q-APR', 'W-SAT', 'W-FRI', 'N', 'Q-JAN', 'B', 'H', 'Q-MAY', 'A-AUG', 'A-OCT', 'W-SUN', 'Q-MAR', 'A', 'A-FEB'])

In [28]:
now_week.start_time, now_week.end_time

(Timestamp('2018-01-22 00:00:00'), Timestamp('2018-01-28 23:59:59.999999999'))

In [29]:
pd.Period("1997-07")

Period('1997-07', 'M')

In [30]:
pd.Period("1997-07", freq="D")

Period('1997-07-01', 'D')

In [31]:
t1 = pd.Timestamp("1997-07-01")
t1.to_period("W")

Period('1997-06-30/1997-07-06', 'W-SUN')

In [32]:
now = pd.Timestamp.now()
now.year, now.month, now.day

(2018, 1, 22)

In [33]:
now.dayofyear

22

In [34]:
now.dayofweek

0

In [35]:
now.hour

11

In [36]:
datetime.datetime(year=1997, month=7, day=1)

datetime.datetime(1997, 7, 1, 0, 0)

In [37]:
from dateutil import parser
date = parser.parse("1st of July, 1997")
date

datetime.datetime(1997, 7, 1, 0, 0)

In [38]:
parser.parse("1997.07.01")

datetime.datetime(1997, 7, 1, 0, 0)

In [39]:
date.strftime('%A')

'Tuesday'

In [40]:
date_np = np.array('1997-07-01', dtype=np.datetime64)
date_np

array(datetime.date(1997, 7, 1), dtype='datetime64[D]')

In [41]:
m = np.datetime64("1997-07")
m, m.dtype

(numpy.datetime64('1997-07'), dtype('<M8[M]'))

In [42]:
n = np.datetime64("1997-07-01 19:19:00")
n, n.dtype

(numpy.datetime64('1997-07-01T19:19:00'), dtype('<M8[s]'))

In [43]:
n = np.datetime64("1997-07-01 19:19:00", 'D') 
n, n.dtype

(numpy.datetime64('1997-07-01'), dtype('<M8[D]'))

In [44]:
n = np.datetime64("1997-07-01 19:19:00", 'ns')
n, n.dtype

(numpy.datetime64('1997-07-01T19:19:00.000000000'), dtype('<M8[ns]'))

In [45]:
date_np + np.arange(20)

array(['1997-07-01', '1997-07-02', '1997-07-03', '1997-07-04',
       '1997-07-05', '1997-07-06', '1997-07-07', '1997-07-08',
       '1997-07-09', '1997-07-10', '1997-07-11', '1997-07-12',
       '1997-07-13', '1997-07-14', '1997-07-15', '1997-07-16',
       '1997-07-17', '1997-07-18', '1997-07-19', '1997-07-20'], dtype='datetime64[D]')

In [46]:
date_pd = pd.to_datetime("1st of July, 1997")
date_pd

Timestamp('1997-07-01 00:00:00')

In [47]:
date_pd.strftime('%A')

'Tuesday'

In [48]:
date_pd + pd.to_timedelta(np.arange(20), 'D')

DatetimeIndex(['1997-07-01', '1997-07-02', '1997-07-03', '1997-07-04',
               '1997-07-05', '1997-07-06', '1997-07-07', '1997-07-08',
               '1997-07-09', '1997-07-10', '1997-07-11', '1997-07-12',
               '1997-07-13', '1997-07-14', '1997-07-15', '1997-07-16',
               '1997-07-17', '1997-07-18', '1997-07-19', '1997-07-20'],
              dtype='datetime64[ns]', freq=None)

In [49]:
datas = [pd.Timestamp('1997-7-1'), pd.Timestamp('1997-7-2'), pd.Timestamp('1997-7-3')]
s = pd.Series([100, 105, 110], index=datas)
s

1997-07-01    100
1997-07-02    105
1997-07-03    110
dtype: int64

In [50]:
s.index

DatetimeIndex(['1997-07-01', '1997-07-02', '1997-07-03'], dtype='datetime64[ns]', freq=None)

In [52]:
date_index = pd.to_datetime([datetime.datetime(1997,7,1), '3rd of July, 1997', '1997.7.5', 
                             '1997-07-07', '1997-Jul-8', '19970709', '10/7/1997'])
date_index

DatetimeIndex(['1997-07-01', '1997-07-03', '1997-07-05', '1997-07-07',
               '1997-07-08', '1997-07-09', '1997-10-07'],
              dtype='datetime64[ns]', freq=None)

In [53]:
periods = [pd.Period('1997-07'), pd.Period('1997-08'), pd.Period('1997-09'), pd.Period('1997-10')]
ps = pd.Series(np.linspace(100, 200, 4), index = periods)
ps

1997-07    100.000000
1997-08    133.333333
1997-09    166.666667
1997-10    200.000000
Freq: M, dtype: float64

In [54]:
ps.index

PeriodIndex(['1997-07', '1997-08', '1997-09', '1997-10'], dtype='period[M]', freq='M')

In [55]:
period_index = date_index.to_period("D")
period_index

PeriodIndex(['1997-07-01', '1997-07-03', '1997-07-05', '1997-07-07',
             '1997-07-08', '1997-07-09', '1997-10-07'],
            dtype='period[D]', freq='D')

In [56]:
period_index_m = date_index.to_period("M")
period_index_m

PeriodIndex(['1997-07', '1997-07', '1997-07', '1997-07', '1997-07', '1997-07',
             '1997-10'],
            dtype='period[M]', freq='M')

In [57]:
t = date_index[0]
t

Timestamp('1997-07-01 00:00:00')

In [59]:
delta_index = date_index - t
delta_index

TimedeltaIndex(['0 days', '2 days', '4 days', '6 days', '7 days', '8 days',
                '98 days'],
               dtype='timedelta64[ns]', freq=None)

In [60]:
pd.date_range("1997-7", "1997-11")

DatetimeIndex(['1997-07-01', '1997-07-02', '1997-07-03', '1997-07-04',
               '1997-07-05', '1997-07-06', '1997-07-07', '1997-07-08',
               '1997-07-09', '1997-07-10',
               ...
               '1997-10-23', '1997-10-24', '1997-10-25', '1997-10-26',
               '1997-10-27', '1997-10-28', '1997-10-29', '1997-10-30',
               '1997-10-31', '1997-11-01'],
              dtype='datetime64[ns]', length=124, freq='D')

In [61]:
pd.date_range("1997-7", "1997-11", freq="M")

DatetimeIndex(['1997-07-31', '1997-08-31', '1997-09-30', '1997-10-31'], dtype='datetime64[ns]', freq='M')

In [62]:
pd.date_range("2017-7-1", periods=8, freq="H")

DatetimeIndex(['2017-07-01 00:00:00', '2017-07-01 01:00:00',
               '2017-07-01 02:00:00', '2017-07-01 03:00:00',
               '2017-07-01 04:00:00', '2017-07-01 05:00:00',
               '2017-07-01 06:00:00', '2017-07-01 07:00:00'],
              dtype='datetime64[ns]', freq='H')

In [63]:
pd.date_range("2017-7-1", periods=8, freq="H")

DatetimeIndex(['2017-07-01 00:00:00', '2017-07-01 01:00:00',
               '2017-07-01 02:00:00', '2017-07-01 03:00:00',
               '2017-07-01 04:00:00', '2017-07-01 05:00:00',
               '2017-07-01 06:00:00', '2017-07-01 07:00:00'],
              dtype='datetime64[ns]', freq='H')

In [64]:
pd.period_range("2017-7", periods=7, freq="M")

PeriodIndex(['2017-07', '2017-08', '2017-09', '2017-10', '2017-11', '2017-12',
             '2018-01'],
            dtype='period[M]', freq='M')

In [65]:
pd.timedelta_range(0, periods=7)

TimedeltaIndex(['0 days', '1 days', '2 days', '3 days', '4 days', '5 days',
                '6 days'],
               dtype='timedelta64[ns]', freq='D')

In [66]:
 pd.timedelta_range(0, periods=7, freq="3H30T")

TimedeltaIndex(['00:00:00', '03:30:00', '07:00:00', '10:30:00', '14:00:00',
                '17:30:00', '21:00:00'],
               dtype='timedelta64[ns]', freq='210T')

In [67]:
pd.date_range("2017-9-30", periods=9, freq=pd.tseries.offsets.BDay())

DatetimeIndex(['2017-10-02', '2017-10-03', '2017-10-04', '2017-10-05',
               '2017-10-06', '2017-10-09', '2017-10-10', '2017-10-11',
               '2017-10-12'],
              dtype='datetime64[ns]', freq='B')

In [69]:
dindex = pd.date_range("20/7/2017", periods=50, freq="D")
sdata = pd.Series(np.random.randn(len(dindex)), index=dindex)
sdata.index[0]

Timestamp('2017-07-20 00:00:00', freq='D')

In [70]:
sdata.index[-1]

Timestamp('2017-09-07 00:00:00', freq='D')

In [71]:
sdata.resample('M').mean()

2017-07-31    0.300559
2017-08-31   -0.312350
2017-09-30   -0.354168
Freq: M, dtype: float64

In [72]:
t_index = pd.date_range("2017-11-10", periods=20, freq="T")
sdata2 = pd.Series(np.arange(20), index=t_index)
sdata2.resample('7min').sum()

2017-11-10 00:00:00    21
2017-11-10 00:07:00    70
2017-11-10 00:14:00    99
Freq: 7T, dtype: int64

In [73]:
sdata2.resample('7min', closed='right').sum()

2017-11-09 23:53:00     0
2017-11-10 00:00:00    28
2017-11-10 00:07:00    77
2017-11-10 00:14:00    85
Freq: 7T, dtype: int64

In [74]:
sdata2.asfreq('7min')

2017-11-10 00:00:00     0
2017-11-10 00:07:00     7
2017-11-10 00:14:00    14
Freq: 7T, dtype: int64

In [75]:
sdata2.asfreq('S')

2017-11-10 00:00:00     0.0
2017-11-10 00:00:01     NaN
2017-11-10 00:00:02     NaN
2017-11-10 00:00:03     NaN
2017-11-10 00:00:04     NaN
2017-11-10 00:00:05     NaN
2017-11-10 00:00:06     NaN
2017-11-10 00:00:07     NaN
2017-11-10 00:00:08     NaN
2017-11-10 00:00:09     NaN
2017-11-10 00:00:10     NaN
2017-11-10 00:00:11     NaN
2017-11-10 00:00:12     NaN
2017-11-10 00:00:13     NaN
2017-11-10 00:00:14     NaN
2017-11-10 00:00:15     NaN
2017-11-10 00:00:16     NaN
2017-11-10 00:00:17     NaN
2017-11-10 00:00:18     NaN
2017-11-10 00:00:19     NaN
2017-11-10 00:00:20     NaN
2017-11-10 00:00:21     NaN
2017-11-10 00:00:22     NaN
2017-11-10 00:00:23     NaN
2017-11-10 00:00:24     NaN
2017-11-10 00:00:25     NaN
2017-11-10 00:00:26     NaN
2017-11-10 00:00:27     NaN
2017-11-10 00:00:28     NaN
2017-11-10 00:00:29     NaN
                       ...
2017-11-10 00:18:31     NaN
2017-11-10 00:18:32     NaN
2017-11-10 00:18:33     NaN
2017-11-10 00:18:34     NaN
2017-11-10 00:18:35     NaN
2017-11-10 00:18:36     NaN
2017-11-10 00:18:37     NaN
2017-11-10 00:18:38     NaN
2017-11-10 00:18:39     NaN
2017-11-10 00:18:40     NaN
2017-11-10 00:18:41     NaN
2017-11-10 00:18:42     NaN
2017-11-10 00:18:43     NaN
2017-11-10 00:18:44     NaN
2017-11-10 00:18:45     NaN
2017-11-10 00:18:46     NaN
2017-11-10 00:18:47     NaN
2017-11-10 00:18:48     NaN
2017-11-10 00:18:49     NaN
2017-11-10 00:18:50     NaN
2017-11-10 00:18:51     NaN
2017-11-10 00:18:52     NaN
2017-11-10 00:18:53     NaN
2017-11-10 00:18:54     NaN
2017-11-10 00:18:55     NaN
2017-11-10 00:18:56     NaN
2017-11-10 00:18:57     NaN
2017-11-10 00:18:58     NaN
2017-11-10 00:18:59     NaN
2017-11-10 00:19:00    19.0
Freq: S, Length: 1141, dtype: float64

In [76]:
sdata2.asfreq('S', method='bfill')

2017-11-10 00:00:00     0
2017-11-10 00:00:01     1
2017-11-10 00:00:02     1
2017-11-10 00:00:03     1
2017-11-10 00:00:04     1
2017-11-10 00:00:05     1
2017-11-10 00:00:06     1
2017-11-10 00:00:07     1
2017-11-10 00:00:08     1
2017-11-10 00:00:09     1
2017-11-10 00:00:10     1
2017-11-10 00:00:11     1
2017-11-10 00:00:12     1
2017-11-10 00:00:13     1
2017-11-10 00:00:14     1
2017-11-10 00:00:15     1
2017-11-10 00:00:16     1
2017-11-10 00:00:17     1
2017-11-10 00:00:18     1
2017-11-10 00:00:19     1
2017-11-10 00:00:20     1
2017-11-10 00:00:21     1
2017-11-10 00:00:22     1
2017-11-10 00:00:23     1
2017-11-10 00:00:24     1
2017-11-10 00:00:25     1
2017-11-10 00:00:26     1
2017-11-10 00:00:27     1
2017-11-10 00:00:28     1
2017-11-10 00:00:29     1
                       ..
2017-11-10 00:18:31    19
2017-11-10 00:18:32    19
2017-11-10 00:18:33    19
2017-11-10 00:18:34    19
2017-11-10 00:18:35    19
2017-11-10 00:18:36    19
2017-11-10 00:18:37    19
2017-11-10 00:18:38    19
2017-11-10 00:18:39    19
2017-11-10 00:18:40    19
2017-11-10 00:18:41    19
2017-11-10 00:18:42    19
2017-11-10 00:18:43    19
2017-11-10 00:18:44    19
2017-11-10 00:18:45    19
2017-11-10 00:18:46    19
2017-11-10 00:18:47    19
2017-11-10 00:18:48    19
2017-11-10 00:18:49    19
2017-11-10 00:18:50    19
2017-11-10 00:18:51    19
2017-11-10 00:18:52    19
2017-11-10 00:18:53    19
2017-11-10 00:18:54    19
2017-11-10 00:18:55    19
2017-11-10 00:18:56    19
2017-11-10 00:18:57    19
2017-11-10 00:18:58    19
2017-11-10 00:18:59    19
2017-11-10 00:19:00    19
Freq: S, Length: 1141, dtype: int64

In [77]:
sdata2.asfreq('S', fill_value=999)

2017-11-10 00:00:00      0
2017-11-10 00:00:01    999
2017-11-10 00:00:02    999
2017-11-10 00:00:03    999
2017-11-10 00:00:04    999
2017-11-10 00:00:05    999
2017-11-10 00:00:06    999
2017-11-10 00:00:07    999
2017-11-10 00:00:08    999
2017-11-10 00:00:09    999
2017-11-10 00:00:10    999
2017-11-10 00:00:11    999
2017-11-10 00:00:12    999
2017-11-10 00:00:13    999
2017-11-10 00:00:14    999
2017-11-10 00:00:15    999
2017-11-10 00:00:16    999
2017-11-10 00:00:17    999
2017-11-10 00:00:18    999
2017-11-10 00:00:19    999
2017-11-10 00:00:20    999
2017-11-10 00:00:21    999
2017-11-10 00:00:22    999
2017-11-10 00:00:23    999
2017-11-10 00:00:24    999
2017-11-10 00:00:25    999
2017-11-10 00:00:26    999
2017-11-10 00:00:27    999
2017-11-10 00:00:28    999
2017-11-10 00:00:29    999
                      ...
2017-11-10 00:18:31    999
2017-11-10 00:18:32    999
2017-11-10 00:18:33    999
2017-11-10 00:18:34    999
2017-11-10 00:18:35    999
2017-11-10 00:18:36    999
2017-11-10 00:18:37    999
2017-11-10 00:18:38    999
2017-11-10 00:18:39    999
2017-11-10 00:18:40    999
2017-11-10 00:18:41    999
2017-11-10 00:18:42    999
2017-11-10 00:18:43    999
2017-11-10 00:18:44    999
2017-11-10 00:18:45    999
2017-11-10 00:18:46    999
2017-11-10 00:18:47    999
2017-11-10 00:18:48    999
2017-11-10 00:18:49    999
2017-11-10 00:18:50    999
2017-11-10 00:18:51    999
2017-11-10 00:18:52    999
2017-11-10 00:18:53    999
2017-11-10 00:18:54    999
2017-11-10 00:18:55    999
2017-11-10 00:18:56    999
2017-11-10 00:18:57    999
2017-11-10 00:18:58    999
2017-11-10 00:18:59    999
2017-11-10 00:19:00     19
Freq: S, Length: 1141, dtype: int64

In [78]:
sdata['2017-09']

2017-09-01   -0.590638
2017-09-02   -0.879767
2017-09-03   -1.346458
2017-09-04    0.499601
2017-09-05    0.287985
2017-09-06   -0.250787
2017-09-07   -0.199116
Freq: D, dtype: float64