In [1]:
import numpy as np
import pandas as pd

In [2]:
g = np.array([27466.15, 24899.3, 19610.9, 19492.4, 17885.39, 17558.76, 15475.09, 12170.2])

In [3]:
gdp = pd.Series(g, index=['shanghai', 'beijing', 'guangzhou', 'shenzhen', 'tianjin', 'chongqing', 'suzhou', 'chengdu'])
gdp

shanghai     27466.15
beijing      24899.30
guangzhou    19610.90
shenzhen     19492.40
tianjin      17885.39
chongqing    17558.76
suzhou       15475.09
chengdu      12170.20
dtype: float64

In [4]:
g2 = pd.Series(g)
g2

0    27466.15
1    24899.30
2    19610.90
3    19492.40
4    17885.39
5    17558.76
6    15475.09
7    12170.20
dtype: float64

In [5]:
pd.Series(data=[100, 200, 300])

0    100
1    200
2    300
dtype: int64

In [6]:
pd.Series(100, index=['a', 'b', 'c'])

a    100
b    100
c    100
dtype: int64

In [7]:
d = pd.Series([0.1, 0.2, 0.3, 0.4], index=[1, 2, 3, 4])
d

1    0.1
2    0.2
3    0.3
4    0.4
dtype: float64

In [8]:
d[1]

0.10000000000000001

In [9]:
gdp2 = pd.Series({"wuhan":11912.6, "hangzhou":11050.5, "nanjing":10503})
gdp2

hangzhou    11050.5
nanjing     10503.0
wuhan       11912.6
dtype: float64

In [10]:
gdp3 = pd.Series({"wuhan":11912.6, "hangzhou":11050.5, "nanjing":10503}, index=['nanjing', 'wuhan', 'hangzhou'])
gdp3

nanjing     10503.0
wuhan       11912.6
hangzhou    11050.5
dtype: float64

In [11]:
gdp.index

Index(['shanghai', 'beijing', 'guangzhou', 'shenzhen', 'tianjin', 'chongqing',
       'suzhou', 'chengdu'],
      dtype='object')

In [12]:
gdp.values

array([ 27466.15,  24899.3 ,  19610.9 ,  19492.4 ,  17885.39,  17558.76,
        15475.09,  12170.2 ])

In [13]:
gdp.index = ["SHANGHAI", "BEIJING", "GUANGZHOU", "SHENZHEN", "TIANJIN", " CHONGQING", "SUZHOU", "CHENGDU"]

In [14]:
gdp.name = "GDP(hunder million RMB)"
gdp

SHANGHAI      27466.15
BEIJING       24899.30
GUANGZHOU     19610.90
SHENZHEN      19492.40
TIANJIN       17885.39
 CHONGQING    17558.76
SUZHOU        15475.09
CHENGDU       12170.20
Name: GDP(hunder million RMB), dtype: float64

In [15]:
gdp.index.name = "City Name"
gdp

City Name
SHANGHAI      27466.15
BEIJING       24899.30
GUANGZHOU     19610.90
SHENZHEN      19492.40
TIANJIN       17885.39
 CHONGQING    17558.76
SUZHOU        15475.09
CHENGDU       12170.20
Name: GDP(hunder million RMB), dtype: float64

In [16]:
type(gdp.index)

pandas.core.indexes.base.Index

In [17]:
gp = pd.DataFrame([[27466.15, 2419.70], [24899.30, 2172.90], [19610.90, 1350.11],[19492.60, 1137.87],
                   [17885.39, 1562.12], [17558.76, 3016.55], [15475.09, 1375.00], [12170.20, 1591.76]])
gp

          0        1
0  27466.15  2419.70
1  24899.30  2172.90
2  19610.90  1350.11
3  19492.60  1137.87
4  17885.39  1562.12
5  17558.76  3016.55
6  15475.09  1375.00
7  12170.20  1591.76

In [18]:
gp.index = ['SHANGHAI', 'BEIJING', 'GUANGZHOU', 'SHENZHEN', 'TIANJIN',
            'CHONGQING', 'SUZHOU', 'CHENGDU']
gp.columns = ['GDP', 'Population']
gp

                GDP  Population
SHANGHAI   27466.15     2419.70
BEIJING    24899.30     2172.90
GUANGZHOU  19610.90     1350.11
SHENZHEN   19492.60     1137.87
TIANJIN    17885.39     1562.12
CHONGQING  17558.76     3016.55
SUZHOU     15475.09     1375.00
CHENGDU    12170.20     1591.76

In [19]:
gp = pd.DataFrame([[27466.15, 2419.70], [24899.30, 2172.90], [19610.90, 1350.11],
                   [19492.60, 1137.87], [17885.39, 1562.12], [17558.76, 3016.55], [15475.09, 1375.00], 
                   [12170.20, 1591.76]], 
                  index=['SHANGHAI', 'BEIJING', 'GUANGZHOU', 'SHENZHEN', 'TIANJIN', 'CHONGQING', 
                         'SUZHOU', 'CHENGDU'],
                  columns=['GDP', 'Population'])

In [20]:
gp.index.name = 'City_Name'
gp.columns.name = "Items"
gp

Items           GDP  Population
City_Name
SHANGHAI   27466.15     2419.70
BEIJING    24899.30     2172.90
GUANGZHOU  19610.90     1350.11
SHENZHEN   19492.60     1137.87
TIANJIN    17885.39     1562.12
CHONGQING  17558.76     3016.55
SUZHOU     15475.09     1375.00
CHENGDU    12170.20     1591.76

In [21]:
pd.DataFrame({"city":["beijing", "beijing", "hubei", "shanghai"], 
              "marks": [100.00, 96.91, 82.57, 82.47]}, 
             index=["PKU", "Tsinghua", "WHU", "Fudan" ])

              city   marks
PKU        beijing  100.00
Tsinghua   beijing   96.91
WHU          hubei   82.57
Fudan     shanghai   82.47

In [22]:
u = np.array([("beijing", 100.00), ("beijing", 96.91), ("hubei", 82.57), 
              ("shanghai", 82.47)], dtype=[("city", "30S"), ("marks", np.float)])
pd.DataFrame(u, index=["PKU", "Tsinghua", "WHU", "Fudan"])

                 city   marks
PKU        b'beijing'  100.00
Tsinghua   b'beijing'   96.91
WHU          b'hubei'   82.57
Fudan     b'shanghai'   82.47

In [23]:
dict_gdp = {"GDP": [27466.15, 24899.30, 19610.90, 19492.60], 
            "Population": [2419.70, 2172.90, 1350.11, 1137.87]}    #{field : array-like}类型
pd.DataFrame.from_dict(dict_gdp)

        GDP  Population
0  27466.15     2419.70
1  24899.30     2172.90
2  19610.90     1350.11
3  19492.60     1137.87

In [24]:
pd.DataFrame.from_dict(dict_gdp, orient="index")

                   0        1         2         3
GDP         27466.15  24899.3  19610.90  19492.60
Population   2419.70   2172.9   1350.11   1137.87

In [25]:
dict_gdp2 = {"GDP": {"SHANGHAI":27466.15, "BEIJING":24899.30, 
                     "GUANGZHOU":19610.90, "SHENZHEN":19492.60}, 
             "Population": {"SHANGHAI":2419.70, "BEIJING":2172.90, 
                            "GUANGZHOU":1350.11, "SHENZHEN":1137.87}}
pd.DataFrame.from_dict(dict_gdp2)

                GDP  Population
BEIJING    24899.30     2172.90
GUANGZHOU  19610.90     1350.11
SHANGHAI   27466.15     2419.70
SHENZHEN   19492.60     1137.87

In [26]:
pd.DataFrame.from_dict(dict_gdp2, orient="index")

            BEIJING  SHENZHEN  SHANGHAI  GUANGZHOU
GDP         24899.3  19492.60  27466.15   19610.90
Population   2172.9   1137.87   2419.70    1350.11

In [27]:
items_gdp = dict_gdp.items()
items_gdp

dict_items([('GDP', [27466.15, 24899.3, 19610.9, 19492.6]), ('Population', [2419.7, 2172.9, 1350.11, 1137.87])])

In [28]:
pd.DataFrame.from_items(items_gdp, 
                        columns=["shanghai", "beijing", "guangzhou", "shenzhen"], 
                        orient="index")

            shanghai  beijing  guangzhou  shenzhen
GDP         27466.15  24899.3   19610.90  19492.60
Population   2419.70   2172.9    1350.11   1137.87

In [29]:
gp

Items           GDP  Population
City_Name
SHANGHAI   27466.15     2419.70
BEIJING    24899.30     2172.90
GUANGZHOU  19610.90     1350.11
SHENZHEN   19492.60     1137.87
TIANJIN    17885.39     1562.12
CHONGQING  17558.76     3016.55
SUZHOU     15475.09     1375.00
CHENGDU    12170.20     1591.76

In [30]:
gp.to_csv("/home/qiwsir/Documents/DataAnalysis/chapter02/gp.csv", 
          columns=["GDP", "Population"], 
          index_label=["SHANGHAI", "BEIJING", "GUANGZHOU", "SHENZHEN", 
                       "TIANJIN", "CHONGQING", "SUZHOU", "CHENGDU"], 
          header=False)

In [31]:
!head /home/qiwsir/Documents/DataAnalysis/chapter02/gp.csv

SHANGHAI,27466.15,2419.7
BEIJING,24899.3,2172.9
GUANGZHOU,19610.9,1350.11
SHENZHEN,19492.6,1137.87
TIANJIN,17885.39,1562.12
CHONGQING,17558.76,3016.55
SUZHOU,15475.09,1375.0
CHENGDU,12170.2,1591.76

In [32]:
pd.DataFrame.to_csv(gp, "/home/qiwsir/Documents/DataAnalysis/chapter02/gp2.csv", 
          columns=["GDP", "Population"], 
          index_label=["SHANGHAI", "BEIJING", "GUANGZHOU", "SHENZHEN", 
                       "TIANJIN", "CHONGQING", "SUZHOU", "CHENGDU"], 
          header=False)

In [33]:
!head /home/qiwsir/Documents/DataAnalysis/chapter02/gp2.csv

SHANGHAI,27466.15,2419.7
BEIJING,24899.3,2172.9
GUANGZHOU,19610.9,1350.11
SHENZHEN,19492.6,1137.87
TIANJIN,17885.39,1562.12
CHONGQING,17558.76,3016.55
SUZHOU,15475.09,1375.0
CHENGDU,12170.2,1591.76

In [34]:
a = np.random.rand(3, 4, 5)
p = pd.Panel(a)
p

<class 'pandas.core.panel.Panel'>
Dimensions: 3 (items) x 4 (major_axis) x 5 (minor_axis)
Items axis: 0 to 2
Major_axis axis: 0 to 3
Minor_axis axis: 0 to 4

In [35]:
a.shape

(3, 4, 5)

In [36]:
cdf = pd.DataFrame([{"Average Temperature":11.8, "Altitude":37}, 
                    {"Average Temperature":22.9, "Altitude":33}], index=["Beijing", "HongKong"])

udf = pd.DataFrame([{"Average Temperature":9.5, "Altitude":186}, 
                    {"Average Temperature":12.6, "Altitude":3}, 
                    {"Average Temperature":13.9, "Altitude":16}], 
                   index=["Chicago", "New York", "San Fran"])
ncaa = pd.Panel({"China":cdf, "USA":udf})
ncaa

<class 'pandas.core.panel.Panel'>
Dimensions: 2 (items) x 5 (major_axis) x 2 (minor_axis)
Items axis: China to USA
Major_axis axis: Beijing to San Fran
Minor_axis axis: Altitude to Average Temperature

In [37]:
p = pd.Panel(data=a, items=["itema", "itemb", "itemc"], 
             major_axis=['a', 'b', 'c', 'd'], 
             minor_axis=['one', 'two', 'three', 'four', 'five'])    #a是前面所创建的三维数组
p

<class 'pandas.core.panel.Panel'>
Dimensions: 3 (items) x 4 (major_axis) x 5 (minor_axis)
Items axis: itema to itemc
Major_axis axis: a to d
Minor_axis axis: one to five

In [38]:
p['itema']

        one       two     three      four      five
a  0.891623  0.020971  0.887339  0.824119  0.718431
b  0.340099  0.523265  0.527436  0.587778  0.637942
c  0.437813  0.330611  0.063135  0.565331  0.370331
d  0.259319  0.668164  0.193388  0.651437  0.223045

In [39]:
p['itemb']

        one       two     three      four      five
a  0.112649  0.426182  0.147863  0.539577  0.202075
b  0.489075  0.399137  0.617360  0.305576  0.377049
c  0.153565  0.789295  0.831360  0.545736  0.177466
d  0.072168  0.159509  0.485126  0.096635  0.623842

In [40]:
p.major_xs('a')

          itema     itemb     itemc
one    0.891623  0.112649  0.645370
two    0.020971  0.426182  0.794991
three  0.887339  0.147863  0.517774
four   0.824119  0.539577  0.242005
five   0.718431  0.202075  0.749830

In [41]:
p.minor_xs('one')

      itema     itemb     itemc
a  0.891623  0.112649  0.645370
b  0.340099  0.489075  0.110304
c  0.437813  0.153565  0.874119
d  0.259319  0.072168  0.273673