In [2]:
import numpy as np
import pandas as pd
s = pd.Series(np.random.randn(5))
type(s.index)

pandas.core.indexes.range.RangeIndex

In [3]:
s.index

RangeIndex(start=0, stop=5, step=1)

In [4]:
s.index[0]

0

In [5]:
s.index[:3]

RangeIndex(start=0, stop=3, step=1)

In [6]:
s.index[s.index>3]

Int64Index([4], dtype='int64')

In [7]:
s.index[0] = "a"

TypeError: Index does not support mutable operations

In [8]:
s.index = ["a", "b", "c", "d", "e"]
s

a   -1.400003
b    0.588582
c    1.396312
d    0.317304
e   -0.284928
dtype: float64

In [9]:
ind = pd.Index(["physics", "python", "math", "english"])
s = pd.Series([100, 90, 80, 70], index=ind)
s

physics    100
python      90
math        80
english     70
dtype: int64

In [10]:
d = pd.DataFrame({"soochow":s, "tsinghua":[98, 34, 83, 49]}, index=ind)
d

         soochow  tsinghua
physics      100        98
python        90        34
math          80        83
english       70        49

In [11]:
inda = pd.Index([2,4,6,8])
indb = pd.Index([3,4,7,8])

In [12]:
inda | indb

Int64Index([2, 3, 4, 6, 7, 8], dtype='int64')

In [13]:
inda & indb

Int64Index([4, 8], dtype='int64')

In [14]:
inda ^ indb

Int64Index([2, 3, 6, 7], dtype='int64')

In [15]:
cities_index = [("China", "Beijing"), ("China", "HongKong"), ("USA", "Chicago"), ("USA", "NewYork"), ("USA", "SanFran")]
cities = pd.MultiIndex.from_tuples(cities_index)
cities

MultiIndex(levels=[['China', 'USA'], ['Beijing', 'Chicago', 'HongKong', 'NewYork', 'SanFran']],
           labels=[[0, 0, 1, 1, 1], [0, 2, 1, 3, 4]])

In [16]:
city_arr = np.array([["China", "China", "USA", "USA", "USA"], ["Beijing", "HongKong", "Chicago", "NewYork", "SanFran"]])
cities2 = pd.MultiIndex.from_arrays(city_arr)
cities2

MultiIndex(levels=[['China', 'USA'], ['Beijing', 'Chicago', 'HongKong', 'NewYork', 'SanFran']],
           labels=[[0, 0, 1, 1, 1], [0, 2, 1, 3, 4]])

In [17]:
pd.MultiIndex.from_product([['a', 'b'], [100, 200]])

MultiIndex(levels=[['a', 'b'], [100, 200]],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [18]:
pd.MultiIndex.from_arrays([['a', 'a', 'b','b'], [100, 200, 100, 200]])

MultiIndex(levels=[['a', 'b'], [100, 200]],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [19]:
pd.MultiIndex(levels=[['a', 'b'], [100, 200]], labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

MultiIndex(levels=[['a', 'b'], [100, 200]],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [20]:
pd.Index([("a", 100), ("a", 200), ("b", 100), ("b", 200)])

MultiIndex(levels=[['a', 'b'], [100, 200]],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [22]:
gdp_index = [("shanghai", 2015), ("shanghai", 2016), ("beijing", 2015), ("beijing", 2016), ("guangzhou", 2015), ("guangzhou", 2016)]
gdp_mind = pd.MultiIndex.from_tuples(gdp_index)
gdp3 = pd.Series([25300, 27466, 23000, 24899, 18100, 19611], index=gdp_mind)
gdp3

shanghai   2015    25300
           2016    27466
beijing    2015    23000
           2016    24899
guangzhou  2015    18100
           2016    19611
dtype: int64

In [23]:
gdp3.unstack()

            2015   2016
beijing    23000  24899
guangzhou  18100  19611
shanghai   25300  27466

In [24]:
gdp3.unstack().stack()

beijing    2015    23000
           2016    24899
guangzhou  2015    18100
           2016    19611
shanghai   2015    25300
           2016    27466
dtype: int64

In [25]:
price = [32260, 31670, 30972, 32131, 16153, 18484]
gdp_house = pd.DataFrame({"GDP":gdp3, "Price":price})
gdp_house

                  GDP  Price
shanghai  2015  25300  32260
          2016  27466  31670
beijing   2015  23000  30972
          2016  24899  32131
guangzhou 2015  18100  16153
          2016  19611  18484

In [26]:
gdp_house.index

MultiIndex(levels=[['beijing', 'guangzhou', 'shanghai'], [2015, 2016]],
           labels=[[2, 2, 0, 0, 1, 1], [0, 1, 0, 1, 0, 1]])

In [27]:
gdp4 = pd.Series({("shanghai", 2015):25300, ("shanghai", 2016):27466, ("beijing", 2015):23000, ("beijing", 2016):24899, ("guangzhou", 2015):18100,("guangzhou", 2016):19611})
gdp4

beijing    2015    23000
           2016    24899
guangzhou  2015    18100
           2016    19611
shanghai   2015    25300
           2016    27466
dtype: int64

In [28]:
a = np.array([[25300, 32260], [27466, 31670], [23000, 30972], [24899, 32131], [18100, 16153], [19611, 18484]])
gdp_house2 = pd.DataFrame(a, index=[["shanghai", "shanghai", "beijing", "beijing", "guangzhou", "guangzhou"], [2015, 2016, 2015, 2016, 2015, 2016]], 
                          columns = ["GDP", "Price"])
gdp_house2

                  GDP  Price
shanghai  2015  25300  32260
          2016  27466  31670
beijing   2015  23000  30972
          2016  24899  32131
guangzhou 2015  18100  16153
          2016  19611  18484

In [29]:
gh_mind = pd.MultiIndex.from_arrays([["shanghai", "shanghai", "beijing", "beijing", "guangzhou", "guangzhou"], [2015, 2016, 2015, 2016, 2015, 2016]])
pd.DataFrame(a, index=gh_mind, columns=['GDP', 'Price'])

                  GDP  Price
shanghai  2015  25300  32260
          2016  27466  31670
beijing   2015  23000  30972
          2016  24899  32131
guangzhou 2015  18100  16153
          2016  19611  18484