In [1]:
import numpy as np
import pandas as pd

In [2]:
name = "newton"
name.capitalize()

'Newton'

In [3]:
names = ['newton', 'hertz', 'curie']
[name.capitalize() for name in names]

['Newton', 'Hertz', 'Curie']

In [4]:
names2 = ['newton', 'hertz', None, 'curie']

In [6]:
[name.capitalize() for name in names2]

AttributeError: 'NoneType' object has no attribute 'capitalize'

In [7]:
n = [1, 2, None, 4]
ns = pd.Series(n)    #转化为NumPy的数组亦然
ns + 5

0    6.0
1    7.0
2    NaN
3    9.0
dtype: float64

In [8]:
snames = pd.Series(names2)
snames

0    newton
1     hertz
2      None
3     curie
dtype: object

In [9]:
snames.str.capitalize()

0    Newton
1     Hertz
2      None
3     Curie
dtype: object

In [10]:
"str" in dir(ns),  "str" in dir(snames)

(False, True)

In [11]:
a = dir(str)
b = dir(snames.str)
da = [i for i in a if '_' not in i]
db = [i for i in b if '_' not in i]
share = np.intersect1d(da, db)
share

array(['capitalize', 'center', 'count', 'encode', 'endswith', 'find',
       'index', 'isalnum', 'isalpha', 'isdecimal', 'isdigit', 'islower',
       'isnumeric', 'isspace', 'istitle', 'isupper', 'join', 'ljust',
       'lower', 'lstrip', 'partition', 'replace', 'rfind', 'rindex',
       'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'startswith',
       'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill'],
      dtype='<U12')

In [12]:
phy = ['issac newton', 'albert Einstein', 'Max Karl Planck', 'Wilhelm Röntgen']
phy = pd.Series(phy)
phy.str.lower()

0       issac newton
1    albert einstein
2    max karl planck
3    wilhelm röntgen
dtype: object

In [13]:
phy.str.len()

0    12
1    15
2    15
3    15
dtype: int64

In [14]:
phy.str.split()

0        [issac, newton]
1     [albert, Einstein]
2    [Max, Karl, Planck]
3     [Wilhelm, Röntgen]
dtype: object

In [15]:
phy_mail = pd.Series(['new@itdiffer.com', 'ein@itdiffer.com', 'pla@itdiffer.com', 'ron@itdiffer.com'], index=phy)
phy_mail['laoqi'] = np.NaN
phy_mail

issac newton       new@itdiffer.com
albert Einstein    ein@itdiffer.com
Max Karl Planck    pla@itdiffer.com
Wilhelm Röntgen    ron@itdiffer.com
laoqi                           NaN
dtype: object

In [16]:
email_str = '^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,4}$'
phy_mail.str.match(email_str)

issac newton       True
albert Einstein    True
Max Karl Planck    True
Wilhelm Röntgen    True
laoqi               NaN
dtype: object

In [17]:
phy

0       issac newton
1    albert Einstein
2    Max Karl Planck
3    Wilhelm Röntgen
dtype: object

In [18]:
phy.str[2]

0    s
1    b
2    x
3    l
dtype: object

In [19]:
phy.str.get(2)

0    s
1    b
2    x
3    l
dtype: object

In [20]:
phy.str[:5]

0    issac
1    alber
2    Max K
3    Wilhe
dtype: object

In [21]:
phy.str.slice(0, 5)

0    issac
1    alber
2    Max K
3    Wilhe
dtype: object