In [3]:
%matplotlib
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.stats import logistic
fig = plt.figure(figsize=(12,8))
ax = fig.add_subplot(111)
z = np.linspace(-6, 6, 1000)
ax.plot(z, logistic.cdf(z), 'r-', label='Logistic')

Using matplotlib backend: TkAgg

In [5]:
import statsmodels.api as sm
df = sm.datasets.get_rdataset("iris").data
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
Sepal.Length    150 non-null float64
Sepal.Width     150 non-null float64
Petal.Length    150 non-null float64
Petal.Width     150 non-null float64
Species         150 non-null object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

In [6]:
df['Species'].unique()

array(['setosa', 'versicolor', 'virginica'], dtype=object)

In [8]:
iris = df[(df.Species == "versicolor") | (df.Species == "virginica")]
iris['Species'] = iris['Species'].map({'versicolor': 1, 'virginica': 0})
iris.rename(columns = {"Sepal.Length": 'sepal_length', "Sepal.Width": 'sepal_width',"Petal.Length": "petal_length","Petal.Width": "petal_width"}, 
inplace=True)
iris.head()

/usr/local/lib/python3.5/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.5/dist-packages/pandas/core/frame.py:2746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  **kwargs)

    sepal_length  sepal_width  petal_length  petal_width  Species
50           7.0          3.2           4.7          1.4        1
51           6.4          3.2           4.5          1.5        1
52           6.9          3.1           4.9          1.5        1
53           5.5          2.3           4.0          1.3        1
54           6.5          2.8           4.6          1.5        1

In [9]:
from statsmodels.formula.api import logit    #①
model = logit("Species ~ petal_length + petal_width", data=iris)    #②
result = model.fit()
     
from scipy import stats     #③
stats.chisqprob = lambda chisq, df: stats.chi2.sf(chisq, df)    #④
result.summary()   #⑤

Optimization terminated successfully.
         Current function value: 0.102818
         Iterations 10

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                Species   No. Observations:                  100
Model:                          Logit   Df Residuals:                       97
Method:                           MLE   Df Model:                            2
Date:                Fri, 02 Feb 2018   Pseudo R-squ.:                  0.8517
Time:                        09:54:42   Log-Likelihood:                -10.282
converged:                       True   LL-Null:                       -69.315
                                        LLR p-value:                 2.303e-26
================================================================================
                   coef    std err          z      P>|z|      [0.025      0.975]
--------------------------------------------------------------------------------
Intercept       45.2723     13.612      3.326      0.001      18.594      71.951
petal_length    -5.7545      2.306     -2.496      0.013     -10.274      -1.235
petal_width    -10.4467      3.756     -2.782      0.005     -17.808      -3.086
================================================================================

Possibly complete quasi-separation: A fraction 0.34 of observations can be
perfectly predicted. This might indicate that there is complete
quasi-separation. In this case some parameters will not be identified.
"""

In [10]:
new_iris = pd.DataFrame({"petal_length": np.random.randn(100)*0.5+5,
                          "petal_width": np.random.randn(100)*0.5+1.7})
new_iris.head()

   petal_length  petal_width
0      5.548834     1.771221
1      5.567582     2.251131
2      4.712078     1.265089
3      5.629662     1.721155
4      4.844296     1.735620

In [11]:
new_iris['pre_species'] = result.predict(new_iris)
new_iris.head()

   petal_length  petal_width  pre_species
0      5.548834     1.771221     0.005698
1      5.567582     2.251131     0.000034
2      4.712078     1.265089     0.992900
3      5.629662     1.721155     0.006035
4      4.844296     1.735620     0.323921

In [12]:
new_iris["Species"] = (new_iris['pre_species'] > 0.5).astype(int)
new_iris.head()

   petal_length  petal_width  pre_species  Species
0      5.548834     1.771221     0.005698        0
1      5.567582     2.251131     0.000034        0
2      4.712078     1.265089     0.992900        1
3      5.629662     1.721155     0.006035        0
4      4.844296     1.735620     0.323921        0

In [13]:
p = result.params
alpha0 = -p['Intercept']/p['petal_width']
alpha1 = -p['petal_length']/p['petal_width']

fig, ax = plt.subplots()
ax.plot(iris[iris['Species']==0].petal_length.values,
           iris[iris['Species']==0].petal_width.values, 's',
           label='virginica')
ax.plot(new_iris[new_iris['Species']==0].petal_length.values,
           new_iris[new_iris['Species']==0].petal_width.values,
 'o', markersize=10, color='steelblue',
           label='virginica(pred)')
ax.plot(iris[iris['Species']==1].petal_length.values,
           iris[iris['Species']==1].petal_width.values, 
's',
           label='versicolor')
ax.plot(new_iris[new_iris['Species']==1].petal_length.values,
           new_iris[new_iris['Species']==1].petal_width.values, 'o', markersize=10, color='green',
           label='versicolor(pred)')

x = np.linspace(3.5, 7, 20)
ax.plot(x, alpha0 + alpha1*x, "k")
ax.set_xlabel("Width")
ax.set_ylabel("Length")
ax.legend()

In [15]:
url = 'https://raw.githubusercontent.com/BigDataGal/Python-for-Data-Science/master/titanic-train.csv'
titanic = pd.read_csv(url)
titanic.columns = ['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked']
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [16]:
titanic.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [17]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

In [18]:
titanic_data = titanic.drop(['PassengerId','Name','Ticket','Cabin'], 1)

In [19]:
def age_approx(cols):
    Age = cols[0]
    Pclass = cols[1]
    
    if pd.isnull(Age):
        if Pclass == 1:
            return 37
        elif Pclass == 2:
            return 29
        else:
            return 24
    else:
        return Age
    
titanic_data['Age'] = titanic_data[['Age', 'Pclass']].apply(age_approx, axis=1)
titanic_data.dropna(inplace=True)
titanic_data.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [20]:
gender = pd.get_dummies(titanic_data['Sex'], drop_first=True)
embark_location = pd.get_dummies(titanic_data['Embarked'], drop_first=True)
titanic_data.drop(['Sex', 'Embarked'], axis=1, inplace=True)
titanic_reg = pd.concat([titanic_data, gender, embark_location], axis=1)
titanic_reg.head()

   Survived  Pclass   Age  SibSp  Parch     Fare  male  Q  S
0         0       3  22.0      1      0   7.2500     1  0  1
1         1       1  38.0      1      0  71.2833     0  0  0
2         1       3  26.0      0      0   7.9250     0  0  1
3         1       1  35.0      1      0  53.1000     0  0  1
4         0       3  35.0      0      0   8.0500     1  0  1

In [21]:
import seaborn as sb
sb.heatmap(titanic_reg.corr())

In [22]:
titanic_reg.drop(['Fare', 'Pclass'],axis=1,inplace=True)
titanic_reg.head()

   Survived   Age  SibSp  Parch  male  Q  S
0         0  22.0      1      0     1  0  1
1         1  38.0      1      0     0  0  0
2         1  26.0      0      0     0  0  1
3         1  35.0      1      0     0  0  1
4         0  35.0      0      0     1  0  1

In [23]:
y = titanic_reg.iloc[:, 0].values     #①
X = titanic_reg.iloc[:, 1:6].values     #②

from sklearn.cross_validation import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.4, random_state=25)    #③

/usr/local/lib/python3.5/dist-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [24]:
from sklearn.linear_model import LogisticRegression
logit_model = LogisticRegression()
logit_model.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [25]:
y_pred = logit_model.predict(X_test)

In [26]:
pd.crosstab(y_test, y_pred, rownames=['True'], colnames=['Predicted'], margins=True)

Predicted    0    1  All
True
0          182   30  212
1           46   98  144
All        228  128  356

In [27]:
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(y_test, y_pred)
confusion_matrix

array([[182,  30],
       [ 46,  98]])